@font-face {
  font-family: "Lato Regular";
  font-weight: 400;
  src: url("../fonts/Lato-Reg.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Bold";
  font-weight: 700;
  src: url("../fonts/Lato-Bol.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Light";
  font-weight: 300;
  src: url("../fonts/Lato-Lig.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-Hai.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Hairline Italic";
  font-style: italic;
  src: url("../fonts/Lato-HaiIta.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 1180px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  font-family: "Lato Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.main-section {
  height: 880px;
  background: #b89f83 url("../img/splash-image.jpg") no-repeat center;
}

.menu {
  display: flex;
  justify-content: space-between;
  min-height: 115px;
  align-items: center;
}

.menu__logo {
  display: block;
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-right: 30px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-family: "Lato Bold", sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
}

.welcome {
  margin-top: 235px;
  color: #ffffff;
  text-align: center;
}

.welcome__greeting {
  font-family: "Times New Roman", serif;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  opacity: 0.7;
  text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
}

.welcome__heading {
  font-family: "Lato Bold", sans-serif;
  font-size: 100px;
  line-height: 1;
  text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
  letter-spacing: 5px;
  margin: 20px 0 40px;
}

.welcome__get-started {
  font-family: "Lato Bold", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 70px 25px;
  border: 3px solid #ffffff;
  display: inline-block;
}

.welcome__promo {
  font-size: 14px;
  line-height: 30px;
  text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 35px;
}

.welcome__promo--bolder {
  font-family: "Lato Bold", sans-serif;
  text-decoration: underline;
}

.features-section {
  margin-top: 90px;
}

.features {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.feature {
  width: 360px;
}

.feature__heading {
  font-family: "Lato Bold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.feature__heading:after {
  content: '';
  position: absolute;
  width: 88px;
  height: 1px;
  background-color: #f57365;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.feature__text {
  font-family: "Lato Light", sans-serif;
  letter-spacing: 1px;
  margin-top: 18px;
}

.introducing-section {
  margin-top: 90px;
  padding-top: 100px;
  background-color: #f7f7f7;
}

.introducing {
  display: flex;
  justify-content: space-between;
}

.introducing__app {
  width: 540px;
  margin-top: 70px;
}

.introducing__heading {
  font-family: "Lato Bold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
}

.introducing__heading:after {
  content: '';
  position: absolute;
  width: 88px;
  height: 1px;
  background-color: #f57365;
  bottom: -4px;
  left: 0;
}

.introducing__text {
  font-family: "Lato Light", sans-serif;
  letter-spacing: 1px;
  margin-top: 30px;
}

.introducing__store {
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
}

.slider-section {
  height: 460px;
  color: #ffffff;
  background-color: #4a3949;
}

.slider {
  height: 460px;
  background-size: 990px 460px;
  background: url("../img/slider-bg.png") no-repeat bottom right;
}

.slide {
  padding: 70px 0;
  text-align: center;
}

.slide__avatar {
  border: 5px solid rgba(255, 255, 255, 0.4);
  display: inline-block;
  border-radius: 50%;
}

.quote {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  opacity: 0.4;
}

.quote__text {
  font-family: "Lato Hairline", sans-serif;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
}

.quote__author {
  font-family: "Lato Hairline Italic", sans-serif;
  font-size: 18px;
}

.cuisine-section {
  margin-top: 90px;
  overflow: hidden;
}

.cuisine__heading {
  font-family: "Lato Bold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.cuisine__heading:after {
  content: '';
  position: absolute;
  width: 88px;
  height: 1px;
  background-color: #f57365;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.cuisine {
  display: flex;
  justify-content: center;
}

.cuisine__food {
  position: relative;
  box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.31);
}

.cuisine__image {
  display: block;
}

.cuisine__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.cuisine__recipe {
  font-family: "Times New Roman", serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-style: italic;
  text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
  opacity: 0.9;
}

.cuisine__kitchen {
  font-family: "Lato Bold", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}

.stats {
  margin-top: 50px;
  margin-bottom: 60px;
}

.stats__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stats__number {
  font-family: "Lato Bold", sans-serif;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 2px;
}

.stats__text {
  letter-spacing: 1px;
  margin-left: 0;
  margin-top: 10px;
}

.footer-section {
  background-color: #f7f7f7;
  height: 95px;
  border-top: 1px solid #e2e2e2;
}

.copyright {
  display: flex;
  justify-content: space-between;
  min-height: 95px;
  align-items: center;
}

.copyright__rights {
  font-family: "Lato Light", sans-serif;
  font-size: 14px;
  color: #8b8b8b;
  opacity: 0.5;
}

.copyright__studio {
  font-family: "Lato Light", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #8b8b8b;
  letter-spacing: 3px;
}

.copyright__studio--link {
  font-family: "Lato Regular", sans-serif;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 640px) {
  
  body {
    min-width: auto;
  }
  
  .container {
    width: 640px;
    margin: 0 auto;
  }
  
  .menu {
    display: none;
  }
  
  .welcome {
    margin-top: 0;
    padding-top: 400px;
  }
  
  .main-section {
    width: 640px;
    background-position: 30% top;
  }
  
  .introducing-section,
  .slider-section,
  .stats,
  .footer-section {
    display: none;
  }
  
  .features-section {
    width: 640px;
  }
  
  .features {
    flex-direction: column;
    align-items: center;
  }
  
  .cuisine-section {
    width: 640px;
    overflow: auto;
  }
  
  .cuisine {
    width: 640px;
    flex-wrap: wrap;
  }
  
  .cuisine__food {
    width: 320px;
    
  }
}